################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnionpatternApp
/src/infrastructure/OnionPattern.Persistence/bin/Debug
/src/infrastructure/OnionPattern.Persistence/obj/Debug
/src/Core/OnionPattern.Application/bin/Debug
/src/Core/OnionPatternDomain/bin/Debug
/src/infrastructure/OnionPattern.Persistences/obj/Debug/net6.0
/src/infrastructure/OnionPattern.Persistences/obj
/src/infrastructure/OnionPattern.Persistence/Properties/AssemblyInfo.cs
/src/infrastructure/OnionPattern.Persistence/OnionPattern.Persistence.csproj
/src/Core/OnionPatternDomain/obj/Debug
/src/infrastructure/OnionPattern.Persistences/bin/Debug/net6.0
/src/infrastructure/OnionPattern.Persistences/OnionPattern.Persistences.csproj
/.vs/ProjectEvaluation
/src/WebApi/OnionPattern.WebApi/obj/Debug/net6.0
/src/WebApi/OnionPattern.WebApi/obj
/src/WebApi/OnionPattern.WebApi/Properties/launchSettings.json
/src/WebApi/OnionPattern.WebApi/appsettings.Development.json
/src/WebApi/OnionPattern.WebApi/appsettings.json
/src/WebApi/OnionPattern.WebApi/OnionPattern.WebApi.csproj
/src/WebApi/OnionPattern.WebApi/OnionPattern.WebApi.csproj.user
/src/Core/ClassLibrary1/obj/Debug/net6.0
/src/Core/ClassLibrary1/obj
/src/Core/OnionPattern.Application/obj/Debug
/src/Core/OnionPattern.Application/OnionPattern.Applications.csproj
/src/Core/ClassLibrary1/bin/Debug/net6.0
/src/WebApi/OnionPattern.WebApi/bin/Debug/net6.0
